
.card-container {
  background-image: url('./images/jk.jpg');
  background-size: cover;
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  margin-top: 155px;
  margin-left: 18%;

}

.title-main {
  font-size: 37.62px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;

}
.title1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  font-family: 'Almarai', sans-serif;

}
.confirm-btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  background-color: #7482ad;
  width: 24vh;
  padding-block: 0.vh;
  text-align: center;
  border-radius: 1.5vh;
  cursor: pointer;
  margin-left: 350px;
  margin-top: 160px;
}
.card-description {
  background-color: transparent;
  font-size: 12px;
  color: brown;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 100%;
  border-width: 0ch;
  margin-right:5px;
  margin-left: 330px;
  margin-top: 10px;

}

.right-section {
  width: 50%;
}
.left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baloons {
  width: 200%;
  height: 100%;

}

.celebrate-date-container {
  /*background-image: url('./images/baloons.png');*/
  height: 400px;
  width: 700px;

  margin-top: 80px ;

  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.lets-celebrate {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
  margin-right: 40px;
  padding-bottom: 20px;
  padding-top: 100px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-block: 0px;
  width: 18vh;

}
.celebrate-date {
  font-size: 24.14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 18vh;
  margin-block: 0px;
  margin-bottom: 2vh;
}
.congrates-type{
  background-color: transparent;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  font-family: 'Almarai', sans-serif;
  width: 100%;
  border-width: 0ch;
}
.date-picker{
  background-color: transparent;
  border-width: 0ch;
  color: #fff;
  font-size: 20px;
text-align: center;
margin-bottom: 190px;
margin-left: 20px;
margin-right: 500px;
margin-top: 120px;}
