@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&family=Noto+Serif+Display:wght@400;500;700;900&family=Red+Hat+Display:wght@400;500;600;800&display=swap');

/*
font-family: 'Cairo', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Red Hat Display', sans-serif;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body,
input,
textarea,
select,
button {
  font-family: 'Red Hat Display', 'Cairo', sans-serif;
}

:root {
  /* change colors from here too.. :> */
  --main: #000000;
  --text: #3a3845;
  --white: #ffffff;
}

.card__box {
  background-color: var(--main);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;



}

.card__box .card__container {
  width: 100%;
  min-width: 1024px;
  max-width: 1024px;
  box-shadow: 0 10px 100px -10px #00000050, 0 0 0 2px #00000020;
  background-color: #e4d1b9;
  padding: 20px;
  /* change backhground image form here.. */
  background-image: url('https://images.pexels.com/photos/7169030/pexels-photo-7169030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* background-size: 50% 100%; */
  background-repeat: no-repeat;
  background-position-x: right;
  padding-block: 25px;
  margin-top:143px;

}

.card__box .card__header h1 {
  font-size: 3rem;
  color: var(--white);
  text-shadow: -5px 4px 2px #78350f50;
  text-transform: uppercase;
}

.noto {
  font-family: 'Noto Serif Display', 'Cairo', serif;
}

.card__box .card__container h1 {
  font-size: 3rem;
  color: var(--text);
  margin-block: 10px;
}

.card__box .card__container h4 {
  font-size: 1rem;
}

.card__box .card__container p[contenteditable] {
  font-size: 1.5rem;
  color: var(--text);
  margin-block: 10px;
}

.card__box .card__container [contenteditable]:focus {
  outline: 2px dotted;
}

.card__box .card__container figure {
  display: flex;
  align-items: center;
}

.card__box .card__container figure figcaption {
  padding: 20px;
  flex: 1 1 0;
}

.card__box .card__container figure blockquote {
  padding: 80px 40px;
  flex: 1 1 0;
}

.uploader input {
  display: none;
}

.uploader label {
  display: table;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: #e4d1b9;
  color: #000000;
  border-radius: 5px;
}
